<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.github.yatemmma.qwebircautosave</string>
       <key>Developer Identifier</key>
       <string>7DC85FMPXH</string>
       <key>CFBundleVersion</key>
       <string>0.1</string>
       <key>CFBundleShortVersionString</key>
       <string>0.1</string>
       <key>URL</key>
       <string>https://github.com/yatemmma/qwebirc.autosave/raw/master/qwebirc.autosave.safariextz</string>
     </dict>
   </array>
</dict>
</plist>