<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>url</string>
		<key>Title</key>
		<string>url</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>nickname</string>
		<key>Title</key>
		<string>nickname</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>channels</string>
		<key>Title</key>
		<string>channels</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>keywords</string>
		<key>Title</key>
		<string>keywords</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
